<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page | <%= blogs.title %></title>
</head>
<body>
    <h1>Home Section</h1>
    <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, recusandae?</div>

    <!-- '-' symbol after the ejs opening tag for imports and functions -->
    <!-- partials -->
    <%- include('./partials/nav.ejs') %>

    <br/>
    <br/>
    <br/>
    <p>All Blogs:</p>
    <div>
       <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <!-- '=' symbol after the ejs opening tag for returning strings -->
                <h4><%= blog.title%></h4>
                <p><%= blog .snippet%></p>
            <% }) %>
       <% }%>
    </div>

    <br/>
    <br/>
    <br/>

    <%- include('./partials/footer.ejs') %>

</body>
</html>